<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550904117828-vufm5p537a52bjkoitaif5li2lh2tl4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550904117828-vufm5p537a52bjkoitaif5li2lh2tl4a</string>
	<key>API_KEY</key>
	<string>AIzaSyB_RaKNdIswTRIS6MmDmuLnBZmX_gVmZas</string>
	<key>GCM_SENDER_ID</key>
	<string>550904117828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayando.pokemonQuiz.jhoto</string>
	<key>PROJECT_ID</key>
	<string>pokemon-jhoto</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemon-jhoto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550904117828:ios:bcc0c7947d655c51945a11</string>
</dict>
</plist>